---
import {getImage} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import backgroundImage from '../assest/img/pexels-cottonbro-studio-7191393.jpg'
import { contentfulClient } from '../lib/contentful';

/* interface HomePage {
  contentTypeId: "pageLanding",
  fields: {
    internalName: EntryFieldTypes.Symbol,
		seoFields: EntryFieldTypes.AssetLink,
    heroBannerHeadline: EntryFieldTypes.Symbol,
		heroBannerHeadlineColor: EntryFieldTypes.Symbol,
		heroBannerImage: EntryFieldTypes.AssetLink,
		products: EntryFieldTypes.Array
  }
} */

const entries = await contentfulClient.getEntries({
	content_type: 'pageLanding',
})

const homePage = entries.items[0]
const products = homePage.fields.products

const optimizedBackgroundImage = await getImage({ src: backgroundImage })
---

<Layout title='Kezdolap'>
	<div style={`background-image: url('${optimizedBackgroundImage.src}')`} class="hero-section">
		<div class="hero-wrapper container-sm">
			<h1 class="hero-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum impedit labore illo?</h1>
		</div>
	</div>
	<div class="container-xl">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim blanditiis animi, cumque ab minima consequuntur earum exercitationem illo odit perspiciatis adipisci similique delectus asperiores quaerat dolor voluptatem in assumenda doloribus.
		Ipsum provident nihil architecto eligendi, alias soluta aliquid praesentium earum. Minus vero praesentium nam tempora veniam, dicta deserunt illo eveniet ab mollitia error nostrum quo numquam consequuntur sequi, ipsum reiciendis.
		Similique officia odio aut delectus explicabo atque, tenetur ab eaque! Unde deleniti, similique veritatis harum corporis quibusdam nesciunt laudantium! Nobis cupiditate, veritatis quas tempore in dolore a nostrum iure nihil.
		At sequi accusantium provident esse aperiam animi, nam nihil libero excepturi, aut temporibus illum quam consectetur eaque commodi neque alias magnam, amet unde quisquam repudiandae maiores? Fugiat id dolorem provident!
		Odit dignissimos, sequi dolorum aspernatur architecto debitis eos facere aliquam. Beatae fugiat repudiandae sit tempore, harum facilis officia amet rem? Aliquam vel quod ab. Est molestiae ad consequatur voluptates quo.
		Voluptas illo earum dolorum eum, sit perspiciatis ducimus totam sunt obcaecati a, id placeat fugit quidem impedit, cum quia nam animi unde iste eligendi laborum! Obcaecati similique accusamus voluptate fugiat.
		Accusamus nostrum tenetur dolor animi incidunt excepturi mollitia in? Possimus iusto, quod nostrum, rem animi veniam repellat minus natus est provident blanditiis quasi asperiores, itaque rerum expedita facilis inventore neque!
		Culpa, dolor eveniet nihil, neque sapiente adipisci commodi blanditiis repellat laudantium sunt facilis aspernatur tempore assumenda hic error molestias? Voluptatum incidunt ratione commodi repellendus autem unde tenetur minus non cupiditate.
		Provident architecto quisquam illo, autem dolorem dicta repellendus, et repellat optio ut inventore iusto ratione molestias veniam, corporis voluptates assumenda nihil earum voluptate placeat praesentium consequatur ullam cumque! Excepturi, aliquid!
		Aut voluptatum temporibus recusandae explicabo aliquid quaerat molestias, illum pariatur rerum, quo ab. Eius tenetur vel numquam quia deserunt commodi dolorem. Velit, doloremque quas aperiam magnam est numquam optio modi.
		Architecto harum cum omnis sit iusto nulla quos delectus tempore minima ex pariatur iure aspernatur corrupti, incidunt eum dolores obcaecati accusamus nam molestias asperiores nobis quidem voluptatibus. Quia, odit corrupti?
		Dolorem, dolorum iure ratione odio earum voluptatum temporibus? Quaerat nisi minima rerum, distinctio, laboriosam assumenda commodi adipisci ab dignissimos sapiente laudantium magni! Excepturi accusamus molestiae consequatur rem, doloribus hic distinctio?
		Atque voluptatem quos blanditiis veritatis magni ipsam in ratione dolorem inventore! Modi quia placeat a eum magnam vero eos illo necessitatibus ut, amet eligendi! Veritatis, delectus. Ratione fugit aliquam ea!
		Maxime expedita odio perspiciatis aut sunt, quidem quaerat, facere ad, enim distinctio dolores eaque ex consectetur aspernatur sit beatae repudiandae! Maiores, minus saepe. Ullam laudantium qui iusto similique tempore optio!
		Dolorem cupiditate quis aliquam, vel laborum eum animi dolorum quisquam odio, ea aperiam perspiciatis repellendus cumque quod aspernatur eaque quidem delectus recusandae voluptates consequuntur ut. Cum sint magni maxime nesciunt.
		Voluptates earum molestiae molestias sequi recusandae quaerat quibusdam mollitia doloribus ex quod. Nihil consectetur eius vitae harum accusantium! Necessitatibus, commodi repellat! Reiciendis quisquam debitis ipsam voluptate, voluptates nisi cupiditate non!
		Aperiam soluta vel dolores laboriosam distinctio unde explicabo vitae necessitatibus atque, quisquam veritatis perspiciatis delectus nobis facilis. Ea aperiam distinctio quae sunt possimus eaque nesciunt architecto? Placeat qui suscipit minus?
		Vero modi fugiat impedit deserunt. Veritatis nihil, ipsam tenetur dolores aperiam, praesentium, alias beatae aspernatur nobis laborum quos reiciendis mollitia explicabo cumque ea id saepe. Dolor atque error ducimus nihil?
		Sunt similique, inventore error hic eveniet corporis quis ut, ipsum quas voluptatum consequatur quasi repellat reiciendis, nihil voluptates quos! Voluptas, quod? Atque provident hic blanditiis quis quam soluta excepturi natus.
		Non vero earum magni nam laborum, quae, repellat iste laudantium fuga ut tempore maxime ea consectetur. Perspiciatis quas accusantium nihil ipsam fugit cum, corporis quasi, magni, eos aut accusamus cupiditate.</p>
	</div>
</Layout>

<style>
	.hero-section {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		min-height: 300px;
		height: calc(100vh - 296px);
/* 		max-height: 75vh; */
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.hero-section::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		}
	
	.hero-wrapper {
		width: 800px;
	}

	.hero-title {
			position: relative;
			color: white;
			text-align: center;
	}
</style>
