---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Rolunk">
  <h1>Rolunk</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim odio cumque nobis aliquid magni eligendi delectus deserunt fugit dignissimos, provident distinctio adipisci reprehenderit recusandae tempora molestias maiores quis aut nesciunt.</p>
  <a href="/">go back</a>
</Layout>