---

---

<section class="container-fluid">
    <div class="container">
      <div class="row shadow">
        <div class="col">
        </div>
        <div class="col middle"></div>
        <div class="col"></div>
      </div>
    </div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga voluptatibus optio aspernatur cupiditate expedita perspiciatis ipsum libero, accusantium amet quaerat quae voluptatem consequatur modi aliquid repellendus vitae! Libero, repellat.
    Facilis reprehenderit et maiores asperiores natus, voluptatem quaerat corporis rem doloribus tempore beatae? Cum dicta aliquid eum dolor accusantium rem mollitia soluta, fugiat quisquam! Ipsum ipsam dicta harum. Porro, ducimus!
    Delectus sunt maxime fugit aliquid distinctio. Sit tempora aut maxime, ad aliquid consequuntur vero. A quam hic libero magni! Sit quis incidunt laudantium blanditiis qui enim sapiente mollitia. Ipsa, corrupti?
    Officiis delectus iusto sint! Tenetur deserunt laudantium a dignissimos beatae ex magnam dolorem doloremque, quae sequi aut ipsam! Aliquid voluptates neque nulla voluptatem atque facilis aspernatur quia at, consequuntur dignissimos.
    Atque perspiciatis nam delectus quidem vel, quo rerum suscipit modi quam veniam, laudantium debitis repellendus odit quisquam voluptas? Eveniet harum odio dolores ad modi ratione, et voluptates minus incidunt molestias!
    Quo cum officia nemo molestiae laborum vel excepturi minus quibusdam aperiam porro dicta doloribus, fugit ipsa dolorem consequatur ut vero dolor adipisci! Eligendi rem assumenda fugit natus, voluptatum voluptates architecto!
    Nobis, quo facere. Ducimus pariatur modi enim, consequatur voluptatem placeat non error quo repellat saepe. Dolorum delectus, doloremque consequatur molestias soluta praesentium temporibus, obcaecati fuga quia esse, iusto veniam accusamus?
    Reprehenderit quod eaque quos corrupti dolorem inventore atque? Inventore hic odit vitae ea recusandae, sint nobis, at necessitatibus quo omnis saepe magnam ipsam blanditiis assumenda eos, modi quis tempore deserunt.
    Dolorum dolor consequuntur deleniti quo architecto commodi consectetur veniam ratione, amet quibusdam rem quisquam nobis debitis illum voluptatum officiis nemo repudiandae enim unde necessitatibus maxime corporis cupiditate voluptatem cumque! Asperiores?
    Porro cupiditate dolores itaque labore. Reprehenderit, cum unde tempore quae inventore nulla, assumenda, dolorum excepturi itaque commodi maxime vel. Laboriosam, modi alias nisi qui quasi dignissimos sed doloremque sunt aliquam.
</section>

<style>
  section {
    width: 100%;
  }

  .col {
    height: 240px;
    background-color: white;
    transition: 0.3s ease-in-out;
  }

  .middle {
    border-right: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(212, 212, 212);
  }

  .col:hover {
    scale: 1.01;
    box-shadow: 0 .5rem 1rem rgba(black, .15);
    /* background-color: #0078FF; */
  }

  .container {
    max-width: 720px;
    position: relative;
    top: -80px;
  }
</style>