---

---

<section class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col shadow">
        </div>
        <div class="col shadow"></div>
        <div class="col shadow"></div>
      </div>
    </div>
</section>

<style>
  section {
    width: 100%;
  }

  .col {
    height: 240px;
    background-color: white;
    transition: 0.3s ease-in-out;
  }

  .col:hover {
    scale: 1.01;
    /* background-color: #0078FF; */
  }

  .container {
    max-width: 720px;
    position: relative;
    top: -80px;
  }
</style>