---
import { getImage } from "astro:assets";
import backgroundImage from '../assest/img/bottles-milk-arrangement-still-life.jpg'

const optimizedBackgroundImage = await getImage({ src: backgroundImage })
---

	<section id="carouselExampleIndicators" class="carousel slide hero-section" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="100000">
				<div class="hero-wrapper px-4" style=`background-image: url('${optimizedBackgroundImage.src}')`>
					<h1>Üveg palack nagykereskedés</h1>
					<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="carousel-item" style="background-color: black" data-bs-interval="100000">
				<img src="..." class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</section>

<style>
  .hero-section {
		width: 100%;
		min-height: 300px;
		height: calc(100vh - 240px);
	}

	.hero-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.carousel-inner, .carousel-item, .hero-wrapper{
		width: 100%;
		height: 100%;
	}

	.carousel-item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(4, 114, 245, 0.2);
		}

	.hero-image {
		object-fit: cover;
		object-position: center;
	}

	p {
		font-size: 1.3em;
		margin: 0;
		color: white;
	}

	h1 {
			position: relative;
			color: white;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: calc(1.6rem + 1.4vw);
			margin-bottom: calc(20px + 0.2vw);
			letter-spacing: 0.1em;
			text-shadow: 0px 2px 14px rgba(0,0,0,0.49);
	}
</style>