---

---
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md shadow-md">
        <div class="container-xl">
          <div class="col">
            <a href="/" class="navbar-brand">K es B Glass</a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
          </button>
          <div class="col collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav gap-3">
              <li class="nav-item">
                <a href="/" class="nav-link">
                  Kezdőlap
                </a>
              </li>
              <li class="nav-item">
                <a href="/termekek" class="nav-link">
                  Termékek
                </a>
              </li>
              <li class="nav-item">
                <a href="/rolunk" class="nav-link">
                  Rólunk
                </a>
              </li>
              <li class="nav-item">
                <a href="/kapcsolat" class="nav-link">
                  Kapcsolat
                </a>
              </li>
              <div class="d-flex gap-3 justify-content-end">
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <ion-icon class="icon" name="call-outline"></ion-icon>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <ion-icon class="icon" name="mail-outline"></ion-icon>
                  </a>
                </li>
              </div>
            </ul>
          </div>
      </nav>
    </header>

    <style>
      a {
        color: #000;
      }

      .navbar {
        padding: calc(14px + 0.3vw) 0;
        background-color: #fff;
/*         position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999; */
      }

      .icon {
        font-size: 1.3em;
      }

      .nav-link {
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.1em;
        transition: 0.3s ease-in-out;
      }

      .nav-link:hover {
        color: #0078FF;
      }

      .navbar-nav {
        text-align: end;
      }

      .menu-icon {
        color: #000;
        font-size: 2.2rem;
      }

      button {
        border: 0;
        padding: 0;
        border-radius: 0;
        border-color: #fff;
      }

    </style>

